.contact {

  form {
    width:400px;
  }

  .textField {
    display:block;
    margin-bottom:20px;
  }

  .send {
    background:green;
    color:white;
    width:200px;
  }

}

.confirmEmailSent {
  padding:50px;
}