.pictures {

  padding:10px;

  .chipGreen {
    margin:10px;
    color:green;
    border:2px solid green;
  }

  .chipPurple {
    margin:10px;
    color:purple;
    border:2px solid purple;
  }

  .chipOrange {
    margin:10px;
    color:orange;
    border:2px solid orange;
  }



  /*.paperList {
    max-width: 30%;
  }*/

}