body {
  margin:0px;
  font-family: "Roboto", Arial;
  font-size:16px;
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  color:black;
  margin-bottom:20px;
}

a {
  color:#206dd2;
}

#main {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  "header"
  "body"
  "footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

header {
  grid-area: header;
}

#body {
  grid-area: body;

}

footer {
  grid-area: footer;
}

@media only screen and (max-width: 768px) {
  .nav {
    .tabs {
      display:none;
    }
    .menuIcon {
      font-size: 35px;
    }
  }
  .pictures {
    .paperList {
      max-width: 100%;
    }
  }
}