.nav {

  .mainBar {
    background:#153672;
  }

  .indicator {
    background:#63AFA1;
  }

  .rightToolbar {
    margin-left:auto;

    .download {
      background:#94e596;
    }

  }

}

.menuItem {
  padding:0px !important;//hack
  height:50px !important;//hack
}

.link {
  text-decoration:none;
  color:#63AFA1;
  text-transform: uppercase;
  width:100%;
  padding:10px;
}